body{background-color:#4F3F8B;background-image:url('images/BackGround-150x150.png');color:#FFFFFF;display:block;font-family:"Liera Sans Extra Bold",sans-serif;font-size:16px;margin-left:auto;margin-right:auto}
img.logo{display:block;margin-bottom:8px;margin-left:auto;margin-right:auto}
table.footer{border-spacing:0px;font-size:x-small;margin-left:auto;margin-right:auto;line-height:0px}
td.icon{padding:1px}